.social-icon {
    transition: color 0.3s ease;
  }

  .social-icon:hover {
    color: #e61818d2; /* Bright red */
  }
.footer{
    background-color: black;
    width: 100%; !important
  
}
  a {
    text-decoration: none;
    color: white; 
    font-size: medium;
  }
  a:hover{ 
    color: red;
  } 
  