.footer{
    background-color: black;
}
  a {
    text-decoration: none;
    color: white; 
    font-size: medium;
  
  }
  a:hover{ 
    color: red;
  }
  ul, li {
    list-style: none;
    padding: 3px;
    margin: 0;
    margin-left: 30px;
  }
  