.dropdown:hover .dropdown-menu{
    display: block;
    margin-top: 0%;
}
.header{
    position: sticky;
    z-index: 9999;
    top: 0%;
}
.navbar-nav .nav-link:hover{
  color: rgba(239, 27, 27, 0.747) !important;
}

